<div class="animate__animated animate__fadeInUp">

  <h3>Trajetória Acadêmica</h3>
  <p class="lead">Professor de Informática e Tecnologia da Informação, e pesquisador em robótica.</p>
  <hr />
  <div class="mb-4">
    <h3>Resumo</h3>


    <p>Ao longo da minha trajetória acadêmica, participei do programa PET Fronteira, onde realizei pesquisas e projetos na área de robótica. Atuei como monitor voluntário na disciplina de Programação e Algoritmos, auxiliando os alunos e desenvolvendo habilidades de comunicação e didática.</p>

    <p>Posteriormente, tornei-me professor substituto, lecionando disciplinas de computação em nível superior, além de ministrar minicursos sobre LaTeX e documentos fiscais. Na ETEC - Escola Técnica Estadual de São Paulo, lecionei disciplinas de Tecnologia da Informação, preparando os alunos para suas carreiras em TI.</p>

    <p>Ao longo dessa jornada, desenvolvi habilidades de comunicação, liderança, trabalho em equipe e organização.</p>

  </div>

  <div class="about text-justify">


    <div class="mt-4">
      <h3>Atuações como professor</h3>
    </div>

    <ol class="">

      <li class="mt-4"><b>Professor universitário na Universidade Federal de Mato Grosso do Sul</b> (2017-2019)
        <ul>
          <li>Lecionando disciplinas de computação em nível superior.</li>
            <li>Ministrando minicursos sobre Introdução ao Latex.</li>
        </ul>
      </li>

      <li class="mt-4"><b>Professor do curso de Informática no Mercury Gerando Futuros</b> (2022-2022)
        <ul>
          <li>Contribuindo para a inclusão social e aprendizado de alunos em Informática.</li>
          <li>Focando em despertar o interesse pela área e fornecer conhecimentos básicos em tecnologia.</li>
        </ul>
      </li>

      <li class="mt-4"><b>Professor de nível técnico na ETEC - Escola Técnica Estadual de São Paulo</b> (2020-2021)
        <ul>
          <li>Lecionando disciplinas de Tecnologia da Informação, como Programação Web, Banco de Dados e Desenvolvimento para Dispositivos Móveis.</li>
          <li>Focando em fornecer conhecimento prático e interativo aos alunos.</li>
        </ul>
      </li>




    </ol>


    <div class="d-flex justify-content-center mt-5">
      <div class="card text-white bg-dark mb-3 p-2" style="max-width: 38rem;">
        <div class="card-header fw-bold h4">Disciplinas Lecionadas</div>

        <div class="card-body">
          <h5 class="card-title h6 pb-1">De nível superior</h5>
          <div class="card-text">


            <div class="d-flex flex-wrap justify-content-start gap-2">

              <div *ngFor="let disciplina of disciplina_nivel_superior" class="bg-warning rounded ">
                <div class="text-dark fw-bold px-2">
                  {{disciplina}}
                </div>
              </div>

            </div>


          </div>
        </div>


        <div class="card-body">
          <h5 class="card-title h6 pb-1">De nível técnico</h5>
          <div class="card-text">


            <div class="d-flex flex-wrap justify-content-start gap-2">

              <div *ngFor="let disciplina of disciplina_nivel_tecnico" class="bg-warning rounded ">
                <div class="text-dark fw-bold px-2">
                  {{disciplina}}
                </div>
              </div>

            </div>


          </div>
        </div>




      </div>
    </div>





  </div>

  <div class="mt-4">
    <h3>Produção bibliográfica</h3>

    <ul>
      <li class="mt-4">
        <a href="https://vem2018.github.io/program.html" target="_blank">[link]</a> Violação de padrões de uso de APIs em sistemas configuráveis, com foco em visualização e manutenção de software.
      </li>
    </ul>

    <ul>
      <li class="mt-4">
        <a href="https://repositorio.unb.br/bitstream/10482/20162/3/LIVRO_AnaisEcopet.pdf" target="_blank">[link]</a> Robótica Pedagógica: Uso da Linguagem LOGO na Plataforma Robótica Curumim: Exploração do uso da linguagem LOGO na plataforma robótica Curumim como abordagem educacional para o ensino de robótica.
      </li>
    </ul>

    <ul>
      <li class="mt-4">
        <a href="https://periodicos.ufms.br/index.php/porandu/article/view/550" target="_blank">[link]</a>  Coeficientes de Hurst e variação espacial na classificação de espécies vegetais: Estudo sobre a aplicação dos coeficientes de Hurst e de variação espacial na classificação de espécies vegetais, contribuindo para avanços nas ciências exatas e tecnológicas.
      </li>
    </ul>



  </div>


  <div class="mt-5">
    <h3>Orientações em TCC</h3>

    <ul>
      <li class="mt-3">
        <b>Projeto Casa Inteligente:</b> Desenvolvimento de um projeto de casa inteligente na ETEC de Ilha Solteira.
      </li>
    </ul>

    <ul>
      <li class="mt-1">
         <b>Gestão de Projetos:</b>  Desenvolvimento de um site para gerenciamento de projetos pessoais na ETEC de Ilha Solteira.
      </li>
    </ul>

    <ul>
      <li class="mt-1">
          <b>Softwares de Baixo Custo e seus Impactos junto às microempresas:</b>  Estudo sobre os impactos dos softwares de baixo custo nas microempresas na ETEC de Ilha Solteira.
      </li>
    </ul>

    <ul>
      <li class="mt-1">
          <b>Hipótese de Escrita Digital:</b>  Exploração da hipótese de escrita digital na ETEC de Ilha Solteira
      </li>
    </ul>

    <ul>
      <li class="mt-1">
          <b>Sistema para Cadastro de Clientes e Agendamento por Site Online da Barbearia:</b>  Desenvolvimento de um sistema de cadastro e agendamento online para uma barbearia na ETEC de Ilha Solteira.
      </li>
    </ul>

    <ul>
      <li class="mt-1">
          <b>Aplicativo Mobile de Finanças Pessoais para Dispositivos Android:</b>  Desenvolvimento de um aplicativo móvel para finanças pessoais para dispositivos Android na ETEC de Ilha Solteira.
      </li>
    </ul>

    <ul>
      <li class="mt-1">
           <b>Comissão de Seleção de acadêmicos para o grupo PET Fronteira:</b>  Participação na comissão de seleção de acadêmicos para o grupo PET Fronteira em 2015.
      </li>
    </ul>

  </div>



  <div class="mt-5">
    <h3>Participações em eventos</h3>

    <ul>
      <li class="mt-4"><b>Como membro</b>
        <ul>
          <li>I Encontro de Software Livre de Três Lagoas: Apresentação sobre Introdução ao Latex e Modelos de Artigos Científicos, Apresentação de Slides e outros Documentos. (2018)</li>
          <li>Feira de Ciência e Tecnologia de Três Lagoas (FECITEL). (2017)</li>
          <li>I Robô Àra: Oficina de Robótica Pedagógica utilizando a linguagem LOGO na plataforma robótica Curumim. (2015)</li>
          <li>XIV Latin American Robotics Competition: Apresentação do Paper "NERDS DA FRONTEIRA - F180 Team Description Paper". (2015)</li>
        </ul>
      </li>

      <li class="mt-4"><b>Como participante</b>
        <ul>
          <li>Javaneiros -  Campo grande (2017).</li>
          <li>II Encontro Regional de Grupos PET do Centro-Oeste (ECOPET). (2015)</li>
          <li>II Encontro Regional dos Grupos PET: Apresentação sobre Robótica Pedagógica utilizando a linguagem LOGO na Plataforma Robótica Curumim. (2015)</li>
          <li>5º Escola Regional de Informática - UFMS (ERI) (2014).</li>
          <li>I Encontro Centro-Oeste dos Grupos PET (ECOPET) (2014).</li>
          <li>IX InterPET UFMS - Fortalecimento Institucional (2014).</li>
          <li>II Aprender para "Crecer": Oficina realizada em Assuncíon no paraguai. (2013)</li>
          <li>IV Escuela Regional de Tecnologías de la Información y Comunicaciones (ERTIC) em Assuncíon no paraguai.</li>
        </ul>
      </li>
    </ul>

  </div>


</div>
