::-webkit-scrollbar {
  width: 15px; /* largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: darkgrey; /* cor de fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: black; /* cor de preenchimento da barra de rolagem */
  border-radius: 10px; /* raio do canto da barra de rolagem */
  border: 2px solid darkgrey; /* cor da borda da barra de rolagem */
}
