::-webkit-scrollbar {
    width: 20px;
    background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
    background:black url('https://chat.openai.com/apple-touch-icon.png') no-repeat;
        background-size:26px 63px;
        background-position:;
        display: block;
        width: 30px;
        height: 100px;
  }
