<div class="animate__animated animate__fadeInUp">

  <h3>Projetos</h3>
  <p class="lead"> De maior relevância</p>
  <hr />



  <div class="div_bloco">
    <div class="mt-5">

      <div class="row h3">
        <div class="col-5">1</div>
        <div class="col-6">SisPenta</div>

      </div>
    </div>


    <div class="about text-justify">
      <div class="about text-justify" style="hyphens: auto;">

        <p>O "sisPenta", um software que criei com o objetivo de otimizar e aprimorar as operações de carga e descarga, proporcionando eficiência e controle ao processo logístico. Desenvolvido especialmente para atender às necessidades do Grupo Penta, essa solução inovadora digitaliza informações relevantes, resultando em maior agilidade, rastreabilidade e embasamento para a tomada de decisões estratégicas.</p>

        <p>
          O sisPenta oferece uma série de recursos e benefícios para a gestão abrangente das atividades de carga e descarga
        </p>



        <ol class="">
          <li><b>Controle de Entrada e Saída</b>
            <ul>
              <li>Através do setor de recepção, o sistema permite o registro detalhado de todas as entradas e saídas de caminhões, fornecendo informações precisas para o acompanhamento em tempo real</li>
            </ul>
          </li>


          <li class="mt-4"><b>Direcionamento Eficiente</b>
            <ul>
              <li>O setor de portaria do sisPenta direciona os caminhões para o pátio ou docas apropriadas, garantindo uma distribuição eficiente dos veículos conforme as necessidades operacionais.</li>
            </ul>
          </li>

          <li class="mt-4"><b>Lançamento e Ocorrências</b>
            <ul>
              <li>Os agentes de descarga podem facilmente registrar o início e o término da descarga, bem como tratar ocorrências e incidentes utilizando fotos como evidências, assegurando um controle detalhado do processo.</li>
            </ul>
          </li>

          <li class="mt-4"><b>Conferência de Serviços</b>
            <ul>
              <li>O setor de conferência do sisPenta recebe a carga proveniente do setor de carga e descarga, permitindo uma verificação minuciosa dos serviços prestados. Caso alguma discrepância seja identificada, é possível retornar a ordem de descarga para correções</li>
            </ul>
          </li>


          <li class="mt-4"><b>Perfis de Acesso Específicos</b>
            <ul>
              <li>O sisPenta oferece perfis de acesso personalizados, como Super Administrador, Coordenador do CD, Recepcão, Portaria, Agente de Descarga, Painel, Conferente de Descarga, Cobrança, Líder de Descarga, Mapa do CD e Gerenciador de OD. Cada perfil possui suas permissões específicas, garantindo a segurança e a eficiência do sistema.</li>
            </ul>
          </li>

        </ol>


        <p class="pt-4">Além das funcionalidades operacionais, o sisPenta disponibiliza uma gama de relatórios e análises detalhados, que auxiliam na compreensão e no acompanhamento dos resultados e desempenho das operações, como por exemplo:</p>
        <ol class="">
          <li><b>Relatórios Financeiros</b>
            <ul>
              <li>Permite o fechamento financeiro por turno, período ou horário, fornecendo uma visão abrangente das movimentações.</li>
            </ul>
          </li>


          <li class="mt-4"><b>Relatórios Personalizados</b>
            <ul>
              <li>É possível gerar relatórios personalizados por seleção de descarga, permitindo análises específicas por CNPJ, por exemplo.</li>
            </ul>
          </li>

          <li class="mt-4"><b>Relatório de Repasse</b>
            <ul>
              <li>Calcula a porcentagem de repasse que a empresa Penta deve realizar para os prestadores de serviço.</li>
            </ul>
          </li>

          <li class="mt-4"><b>Análise por Serviços e Setores:</b>
            <ul>
              <li>O sisPenta gera relatórios que destacam os serviços e setores mais lucrativos, fornecendo uma visão clara da rentabilidade de cada área de atuação.</li>
            </ul>
          </li>


          <li class="mt-4"><b>Tempo de Operação</b>
            <ul>
              <li>É possível obter informações sobre o tempo que cada caminhão permanece no processo de operação, auxiliando na identificação de possíveis gargalos e melhorias.</li>
            </ul>
          </li>


          <li class="mt-4"><b>Resumo de Vendas</b>
            <ul>
              <li>O relatório venda a venda apresenta um resumo das operações prestadas, oferecendo uma visão consolidada dos resultados.</li>
            </ul>
          </li>

          <li class="mt-4"><b>Análise Gráfica</b>
            <ul>
              <li>O sisPenta fornece gráficos intuitivos, como o de serviços mais rentáveis e os diferentes métodos de pagamento utilizados, permitindo uma visualização clara e objetiva do desempenho financeiro..</li>
            </ul>
          </li>


        </ol>



      </div>
    </div>


    <div class="d-flex justify-content-center">
      <div class="col-md-8 col-12">
        <div id="carouselExampleCaptions" class="carousel slide bg-dark rounded" style="max-width: 100%;">

          <div class="carousel-indicators">
            <button *ngFor="let album of albums_sispenta; let i = index" type="button" data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : null" [attr.aria-label]="'Slide ' + (i + 1)"></button>
          </div>

          <div class="carousel-inner">
            <div *ngFor="let album of albums_sispenta; let i = index" class="carousel-item" [class.active]="i === 0">
              <div class="d-flex align-items-center justify-content-center" style="height: 450px;">
                <img [src]="album.src" alt="..." class="img-fluid">
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ album.caption }}</h5>
              </div>
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>
      </div>
    </div>



    <p class="mt-4">O sisPenta é uma solução completa e eficiente para otimizar as operações de carga e descarga, transformando informações físicas em dados digitais, proporcionando maior controle, agilidade e tomada de decisões embasadas. Com seus recursos abrangentes e relatórios detalhados, o sisPenta é uma poderosa ferramenta para impulsionar a eficiência logística e garantir o sucesso das operações de carga e descarga.</p>


  </div>


  <div class="div_bloco">
    <div class="mt-5">

      <div class="row h3">
        <div class="col-5">2</div>
        <div class="col-6">docasGrupoPenta</div>

      </div>
    </div>


    <div class="about text-justify">
      <div class="about text-justify" style="hyphens: auto;">

        <p>O sistema, conhecido como "docasGrupoPenta", foi um sistema desenvolvido por mim para o Grupo Penta com o intuito de otimizar as operaçoes de carga e descarga, tornando as informações reais em informações digitais. Além disso, o sistema oferece a geração de relatórios periódicos, como mensais, semanais ou em tempo real, fornecendo informações valiosas para análise e tomada de decisões.</p>

        <p>Uma característica importante do sistema é a capacidade de filtrar os serviços por empresa, permitindo uma visualização personalizada de acordo com as necessidades individuais. Além disso, o sistema disponibiliza recursos para a conciliação dos serviços prestados, facilitando o controle e verificação de pagamentos e transações.</p>

        <p>O "docasGrupoPenta" é utilizado em diversas áreas, como contas a receber, operações, controladoria e diretoria. Atualmente, o sistema é empregado em aproximadamente 22 cidades onde o Grupo Penta possui lojas, com planos de expansão para novas localidades. Cada loja possui um login exclusivo no sistema.</p>

        <p>Esse sistema personalizado desenvolvido para o Grupo Penta resultou em melhorias significativas nos processos de negócios. Com suas funcionalidades específicas e adaptadas, ele contribui para uma gestão mais eficiente, permitindo análises precisas e apoiando as decisões estratégicas do Grupo Penta.</p>
      </div>
    </div>


    <div class="d-flex justify-content-center">
      <div class="col-md-8 col-12">
        <div id="carouselExampleCaptions2" class="carousel slide bg-dark rounded" style="max-width: 100%;">

          <div class="carousel-indicators">
            <button *ngFor="let album of album_docas_grupo_penta; let i = index" type="button" data-bs-target="#carouselExampleCaptions2" [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : null" [attr.aria-label]="'Slide ' + (i + 1)"></button>
          </div>

          <div class="carousel-inner">
            <div *ngFor="let album of album_docas_grupo_penta; let i = index" class="carousel-item" [class.active]="i === 0">
              <div class="d-flex align-items-center justify-content-center" style="height: 450px;">
                <img [src]="album.src" alt="..." class="img-fluid">
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ album.caption }}</h5>
              </div>
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>
      </div>
    </div>


  </div>

  <hr />







</div>


