<div class="animate__animated animate__fadeInUp">

  <h3>Expertise</h3>
  <p class="lead">

    Desenvolvedor full-stack ágil, focado em soluções personalizadas e contribuição para o mercado de tecnologia.

  </p>
  <hr />

  <h3>Sobre mim</h3>

  <div class="about text-justify">

    <p>Tenho 29 anos e sou desenvolvedor full-stack, possuo ampla experiência em todas as etapas do desenvolvimento de software, desde o planejamento até a implementação e manutenção. Tenho conhecimento em diversas tecnologias amplamente utilizadas no mercado, o que me permite entregar soluções de alta qualidade de forma ágil e eficiente para os clientes.</p>

    <p>Além disso, sou graduado em Ciência da Computação pela Universidade Federal do Mato Grosso do Sul e tenho uma trajetória como professor em algumas instituições como a Universidade Federal de Mato Grosso do Sul, a escola técnica ETEC de Ilha Solteira e o projeto Mercury Renew.</p>

    <p>Mantenho-me constantemente atualizado sobre as últimas tendências e avanços tecnológicos, o que me permite estar preparado para enfrentar os desafios e encontrar soluções inovadoras nos projetos em que trabalho.</p>

    <hr/>
    <div>

      <h3 class="mb-2">As principais tecnologias que utilizo são </h3>
      <ul>

        <li class="">
          Java 20 <a href="https://www.java.com/" target="_blank">[...]</a>
        </li>
        <li class="">
          Spring Framework <a href="https://spring.io/" target="_blank">[...]</a>
        </li>

        <li class="">
          JavaScript <a href="http://www.ecmascript.org/" target="_blank">[...]</a>
        </li>

        <li class="">
          AngularJS  <a href="https://angularjs.org/" target="_blank">[...]</a>
        </li>

        <li class="">
          Bootstrap 5.3 <a href="https://getbootstrap.com/" target="_blank">[...]</a>
        </li>

        <li class="">
          Datatable <a href="https://datatables.net/" target="_blank">[...]</a>
        </li>

        <li class="">
          ChartJS <a href="https://www.chartjs.org/" target="_blank">[...]</a>
        </li>

        <li class="">
          Docker <a href="https://www.docker.com/" target="_blank">[...]</a>
        </li>

      </ul>
    </div>


    <hr/>
    <div>
      <h3>Estou aprendendo no momento</h3>

      <ul>
        <li class="">
          Inglês
        </li>
        <li class="">
          Angular 15 + TypeScript <a href="https://angular.io/" target="_blank">[...]</a>
        </li>



        <li class="">
          RabbitMQ  <a href="https://www.rabbitmq.com/" target="_blank">[...]</a>
        </li>

      </ul>
    </div>



  </div>

</div>

