<div class="animate__animated animate__fadeInUp">

  <h3>Sobre mim</h3>
  <p class="lead">

    Desenvolvedor full-stack qualificado com habilidades ágeis para entregar soluções de qualidade aos clientes, buscando constantemente atualização e aprendizado na área para contribuir com o desenvolvimento do mercado de tecnologia.

  </p>
  <hr />

  <h3>Um pouco mais...</h3>

  <div class="about text-justify">

    <p> Como desenvolvedor full-stack, possuo experiência em desenvolvimento de software, desde o planejamento até a implementação e manutenção. Meu conhecimento em tecnologias como Java, Spring Framework, JavaScript, AngularJS, Bootstrap, Datatable e ChartJS, me permite trabalhar de forma ágil e eficiente na entrega de soluções de qualidade para clientes.</p>

    <p>  Além disso, sou graduado em Ciência da Computação pela Universidade Federal do Mato Grosso do Sul, e tenho ampla experiência como professor em diversas instituições, incluindo a Universidade Federal de Mato Grosso do Sul, a escola técnica ETEC de Ilha Solteira e o projeto Mercury Renew.</p>


    <hr />
    <h3>Estou aprendendo no momento</h3>

    <ul>
      <li class="">
        Inglês
      </li>
      <li class="">
        Angular 9.6.6 <a href="https://angular.io/" target="_blank">[link]</a>
      </li>

      <li class="">
        Docker <a href="https://www.docker.com/" target="_blank">[link]</a>
      </li>

      <li class="">
        RabbitMQ  <a href="https://www.rabbitmq.com/" target="_blank">[link]</a>
      </li>

    </ul>


  </div>

</div>

