<div class="animate__animated animate__fadeInUp">

  <h3>Trajetória Profissional</h3>
  <p class="lead">Desenvolvedor Fullstack com foco em Java, Spring Framework e AngularJS.</p>
  <hr />
  <div class="mb-4">
    <h3>Atuações</h3>
  </div>

  <div class="about text-justify">


    <ol class="">
      <li><b>Proprietário e Desenvolvedor na Boaventura Desenvolvimento de Softwares</b>
        <ul>
          <li>Especializado em soluções de tecnologia da informação, desenvolvendo aplicações robustas para clientes em diversas áreas</li>
          <li>Utilização das tecnologias Java, Spring Framework, JavaScript, AngularJS, Bootstrap, Datatable e ChartJS</li>
        </ul>
      </li>


      <li class="mt-4"><b>Desenvolvedor de Software na Penta Logistica</b>
        <ul>
          <li>Responsável pelo desenvolvimento de dois softwares para gerenciamento de descargas, faturamento e controle financeiro em várias lojas</li>
          <li>Utilização das tecnologias Java, Spring Framework, JavaScript, AngularJS, Bootstrap, Datatable e ChartJS.</li>
        </ul>
      </li>


      <li class="mt-4"><b>Professor do curso de Informática no Mercury Gerando Futuros</b>
        <ul>
          <li>Contribuição para a inclusão social e aprendizado de alunos em Informática.</li>
          <li>Foco em despertar o interesse pela área e fornecer conhecimentos básicos em tecnologia.</li>
        </ul>
      </li>

      <li class="mt-4"><b>Professor de nível técnico na ETEC - Escola Técnica Estadual de São Paulo</b>
        <ul>
          <li>Lecionou disciplinas de Tecnologia da Informação, como Programação Web, Banco de Dados e Desenvolvimento para Dispositivos Móveis.</li>
          <li>Foco em fornecer conhecimento prático e interativo aos alunos.</li>
        </ul>
      </li>


      <li class="mt-4"><b>Professor universitário na Universidade Federal de Mato Grosso do Sul</b>
        <ul>
          <li>Lecionou disciplinas de computação em nível superior, como Arquitetura de Computadores, Programação e Algoritmos, Engenharia de Software, entre outras.
            Ministrou minicursos sobre Introdução ao Latex.</li>
          <li>Participação no Programa de Educação Tutorial (PET) Fronteira.</li>
        </ul>
      </li>


    </ol>


    <div class="d-flex justify-content-center mt-5">
      <div class="card text-white bg-dark mb-3 p-2" style="max-width: 38rem;">
        <div class="card-header fw-bold h4">Competências</div>

        <div class="card-body">
          <h5 class="card-title h6 pb-1">Back-end</h5>
          <div class="card-text">


            <div class="d-flex flex-wrap justify-content-start gap-2">

              <div *ngFor="let competencia of competencias_backend" class="bg-warning rounded ">
                <div class="text-dark fw-bold px-2">
                  {{competencia}}
                </div>
              </div>

            </div>


          </div>
        </div>


        <div class="card-body">
          <h5 class="card-title h6 pb-1">Front-end</h5>
          <div class="card-text">


            <div class="d-flex flex-wrap justify-content-start gap-2">

              <div *ngFor="let competencia of competencias_frontend" class="bg-warning rounded ">
                <div class="text-dark fw-bold px-2">
                  {{competencia}}
                </div>
              </div>

            </div>


          </div>
        </div>


        <div class="card-body">
          <h5 class="card-title h6 pb-1">Construção de Software</h5>
          <div class="card-text">


            <div class="d-flex flex-wrap justify-content-start gap-2">

              <div *ngFor="let competencia of competencias_construcao_de_software" class="bg-warning rounded ">
                <div class="text-dark fw-bold px-2">
                  {{competencia}}
                </div>
              </div>

            </div>


          </div>
        </div>


        <div class="card-body">
          <h5 class="card-title h6 pb-1">Adicionais</h5>
          <div class="card-text">


            <div class="d-flex flex-wrap justify-content-start gap-2">

              <div *ngFor="let competencia of competencias_adicionais" class="bg-warning rounded ">
                <div class="text-dark fw-bold px-2">
                  {{competencia}}
                </div>
              </div>

            </div>


          </div>
        </div>


      </div>
    </div>





  </div>

</div>
