<div class="animate__animated animate__fadeInUp">

  <h3>Trajetória Profissional</h3>
  <p class="lead">Desenvolvedor Fullstack com foco em Java, Spring Framework e AngularJS.</p>
  <hr />





  <div class="about text-justify">


    <div class="mb-4">
      <div class="mb-4">
        <h3>Resumo</h3>

        <p>Sou um desenvolvedor de software com mais de 6 anos de experiência na área, focado em programação. Tenho experiência em diversas tecnologias atuais utilizadas no desenvolvimento de software.</p>
        <p>Ao longo da minha carreira, participei de projetos aplicando minha vivência  em análise de requisitos, arquitetura de software e implantação de soluções. Tenho habilidade em desenvolver soluções personalizadas que atendem às necessidades dos clientes em diferentes setores.</p>

      </div>
    </div>

    <div class="mt-4">
      <h3>Atuações</h3>
    </div>


    <ol class="">
      <li><b>Proprietário e Desenvolvedor na Boaventura Desenvolvimento de Softwares</b> (2017 - até o momento)
        <ul>
          <li>Especializado em soluções de tecnologia da informação, desenvolvendo aplicações robustas para clientes em diversas áreas.</li>
        </ul>
      </li>


      <li class="mt-4"><b>Desenvolvedor de Software na Penta Logistica</b> (2022 - até o momento)
        <ul>

          <li>Responsável pelo desenvolvimento de dois softwares <i>SisPenta</i> e <i>docasGrupoPenta</i> para gerenciamento de descargas, faturamento e controle financeiro em várias lojas.</li>
        </ul>
      </li>


      <li class="mt-4"><b>Professor do curso de Informática no Mercury Gerando Futuros</b> (2022-2022)
        <ul>
          <li>Contribuindo para a inclusão social e aprendizado de alunos em Informática.</li>
          <li>Focando em despertar o interesse pela área e fornecer conhecimentos básicos em tecnologia.</li>
        </ul>
      </li>

      <li class="mt-4"><b>Professor de nível técnico na ETEC - Escola Técnica Estadual de São Paulo</b> (2020-2021)
        <ul>
          <li>Lecionando disciplinas de Tecnologia da Informação.</li>
          <li>Focando em fornecer conhecimento prático e interativo aos alunos.</li>
        </ul>
      </li>


      <li class="mt-4"><b>Professor universitário na Universidade Federal de Mato Grosso do Sul</b> (2017-2019)
        <ul>
          <li>Lecionando disciplinas de computação em nível superior.</li>
            <li>Ministrando minicursos.</li>
        </ul>
      </li>


    </ol>


    <div class="d-flex justify-content-center mt-5">
      <div class="card text-white bg-dark mb-3 p-2" style="max-width: 38rem;">
        <div class="card-header fw-bold h4">Competências</div>

        <div class="card-body">
          <h5 class="card-title h6 pb-1">Back-end</h5>
          <div class="card-text">


            <div class="d-flex flex-wrap justify-content-start gap-2">

              <div *ngFor="let competencia of competencias_backend" class="bg-warning rounded ">
                <div class="text-dark fw-bold px-2">
                  {{competencia}}
                </div>
              </div>

            </div>


          </div>
        </div>


        <div class="card-body">
          <h5 class="card-title h6 pb-1">Front-end</h5>
          <div class="card-text">


            <div class="d-flex flex-wrap justify-content-start gap-2">

              <div *ngFor="let competencia of competencias_frontend" class="bg-warning rounded ">
                <div class="text-dark fw-bold px-2">
                  {{competencia}}
                </div>
              </div>

            </div>


          </div>
        </div>


        <div class="card-body">
          <h5 class="card-title h6 pb-1">Construção de Software</h5>
          <div class="card-text">


            <div class="d-flex flex-wrap justify-content-start gap-2">

              <div *ngFor="let competencia of competencias_construcao_de_software" class="bg-warning rounded ">
                <div class="text-dark fw-bold px-2">
                  {{competencia}}
                </div>
              </div>

            </div>


          </div>
        </div>


        <div class="card-body">
          <h5 class="card-title h6 pb-1">Adicionais</h5>
          <div class="card-text">


            <div class="d-flex flex-wrap justify-content-start gap-2">

              <div *ngFor="let competencia of competencias_adicionais" class="bg-warning rounded ">
                <div class="text-dark fw-bold px-2">
                  {{competencia}}
                </div>
              </div>

            </div>


          </div>
        </div>


      </div>
    </div>


    <div class="mb-4">
      <div class="mb-4">
        <h3>Por fim</h3>

        <p>Tenho paixão pela programação e me mantenho atualizado sobre as últimas tendências e tecnologias do mercado. Meu comprometimento e habilidades em programação me permitem oferecer soluções inovadoras e de alta qualidade aos meus clientes.</p>


      </div>
    </div>




  </div>

</div>
