


<div class="">

  <div class="">
    <h3 class="mb-4">Contato</h3>

    <div>
      <a href="mailto:diogo.boaventura.ufms@gmail.com" target="_blank" class="text-decoration-none text-dark">
        <i class="fa-solid fa-envelope text-danger h3 px-3"></i><b>E-mail:</b> diogo.boaventura.ufms@gmail.com
      </a>
    </div>

    <div>
      <a class="text-decoration-none text-dark" href="https://web.whatsapp.com/send?phone=5518997544362" target="_blank">
        <i class="fa-brands fa-whatsapp text-success h3 px-3"></i><b>Whatsapp:</b> +55 (18) 99754-4362
      </a>
    </div>



  <hr />

  <div class="mt-4">
    <h3 class="mb-4">Medias Digitais</h3>

    <div class="">
      <a href="https://www.linkedin.com/in/diogoboa" target="_blank" class="text-decoration-none text-dark"><i class="fa-brands fa-linkedin text-primary h3 px-3"></i><b>Linkedin:</b> Diogo Boaventura </a>
    </div>

    <div class="mt-2">
      <a href="https://github.com/diogoboa" target="_blank" class="text-decoration-none text-dark"><i class="fa-brands fa-github text-dark h3 px-3"></i><b>Github:</b> Diogo Boaventura</a>
    </div>
  </div>



  <div class="d-flex justify-content-center my-5">
    <h1 class="mb-4">Obrigado!</h1>
  </div>

</div>

