<div class="">
  <footer class="d-flex flex-wrap justify-content-around align-items-center py-3 my-4 border-top">



    <div class="d-flex justify-content-center gap-3 my-auto">
      <div><i class="fa-brands fa-github h3 item-das-redes-sociais"></i></div>
      <div><i class="fa-solid fa-envelope h3 item-das-redes-sociais"></i></div>
      <div><i class="fa-brands fa-linkedin h3 item-das-redes-sociais"></i></div>
    </div>

    <div class="d-flex justify-content-center my-auto">
      <div class="text-muted"><img src="assets/images/img.png" height="35" width="100"/></div>
    </div>




  </footer>
</div>
